<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

    <xacro:include filename="$(find tutorial)/urdf/arm.xacro" />
    <xacro:include filename="$(find tutorial)/urdf/caster_wheel.xacro" />
    <!-- <xacro:include filename="$(find tutorial)/urdf/head.xacro" /> -->
    
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.0577" radius="0.0704"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.0577" radius="0.0704"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.6"/>
            <inertia ixx="${1/12*0.6*(3*0.0704*0.0704+0.0577*0.0577)}" ixy="0" ixz="0" iyy="${1/12*0.6*(3*0.0704*0.0704+0.0577*0.0577)}" iyz="0" izz="${1/2*0.6*0.0704*0.0704}"/>
        </inertial>
    </link>
    
    <xacro:arm prefix="right" length=".0059" radius=".021" reflect="0.0527" />
    <xacro:arm prefix="left" length=".0059" radius=".021" reflect="-0.0527" />
    <xacro:caster_wheel prefix="front" radius=".021" xoffset="0.050" zoffset="-0.0211" />
    <xacro:caster_wheel prefix="rear" radius=".021" xoffset="-0.050" zoffset="-0.0211" />
    <!-- <xacro:head /> -->
    
    <!-- Add ROS plugin so we can interact with our robot -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>
