<?xml version="1.0"?>
<launch>
  <arg name="robot_name"/>
  <arg name="robot_description"/>
  <arg name="init_position"/>
  <!-- Spawn our robot using urdf_spawner node; /robot_description param should contain URDF of robot -->
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />
    <node pkg="tf" type="static_transform_publisher" name="base_laser_pub" args="0.5 0 0 0 0 0 1 $(arg robot_name)/base_footprint $(arg robot_name)/laser_frame 10" />
    <!-- Spawn model of robot using URDF -->
    <node name="urdf_spawner"
          pkg="gazebo_ros"
          type="spawn_model"
          respawn="false"
          output="screen"
          args="$(arg init_position)
                -urdf
                -model $(arg robot_name)
                -param $(arg robot_description)"/>
  </group>

</launch>


